<div class="punchline">
De nombreux signets pratiques; classés par sujets pour y accéder plus rapidement. 
</div>

<ul class="tags">
<li class="sel"><a href="">PHP</a></li>
<li><a href="">Design</a></li>
</ul>

