<div class="punchline">
De nombreux signets pratiques; classés par sujets pour y accéder plus rapidement. 
</div>

<ul class="tags">
<li><a href="">Navigateurs</a></li>
<li class="sel"><a href="">Dév. Web</a></li>
<li><a href="">Design</a></li>
</ul>

