DirectoryIndex index.php index.html index.htm

SetEnv ENV dev

Options -MultiViews +FollowSymlinks
RewriteEngine On
RewriteBase /zwazo
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
