<a href="{{ url('url_base') }}news" class="slide-elm">
	<div class="center">
	<div class="txt">
		<span class="titre">Informations</span>
		<p>
		qqq
		</p>
		<span class="go">News&gt;&gt;</span>
	</div>
	<div class="img img-news"></div>
	</div>
</a>