<a href="{{ url('url_base') }}news" class="slide-elm">
	<div class="center">
	<div class="txt">
		<span class="titre">Fils d'information</span>
		<span class="overview">Des news et du suspens ...</span>
		<p>
		Pour garder le contact et pour les curieux ;)
		</p>
		<span class="goto">&raquo; News</span>
	</div>
	<div class="img"></div>
	</div>
</a>