<a href="{{ url('url_base') }}news" class="slide-elm">
	<div class="center">
	<div class="txt">
		<span class="titre">Informations</span>
		<p>
		qqq
		</p>
		<span class="go">News&gt;&gt;</span>
	</div>
	<div class="img">
		<img id="rss" src="{{ url('url_img') }}/FSI/rss_circle.svg" height="150px"/>
		<img id="news" src="{{ url('url_img') }}/tango/news.svg" height="250px"/>
	</div>
	</div>
</a>