<a href="{{ url('url_base') }}bookmarks" class="slide-elm">
	<div class="center">
	<div class="txt">
		<span class="titre">Les Bonnes Adresses</span>
		<p>
		qqq
		</p>
		<span class="go">eSignets&gt;&gt;</span>
	</div>
	<div class="img"></div>
	</div>
</a>