<a href="{{ url('url_base') }}bookmarks" class="slide-elm">
	<div class="center">
	<div class="txt">
		<span class="titre">Les petits papiers</span>
		<span class="overview">Post-it et marques pages</span>
		<p>
		Adresses, bon plans et notes à partager
		</p>
		<span class="goto">&raquo; eSignets</span>
	</div>
	<div class="img img-mark">&nbsp;</div>
	</div>
</a>