<a href="{{ url('url_base') }}pro" class="slide-elm">
	<div class="center">
	<div class="txt">
		<span class="titre">Activités Professionnelles</span>
		<p>
		qqq
		</p>
		<span class="go">Pro&gt;&gt;</span>
	</div>
	<div class="img"><img id="pro" src="{{ url('url_img') }}/costard.svg" height="300px"/></div>
	</div>
</a>