<a href="{{ url('url_base') }}pro" class="slide-elm">
	<div class="center">
	<div class="txt">
		<span class="titre">Panorama Professionnel</span>
		<span class="overview">Itinéraire et feuilles au vent</span>
		<p>
		" Par ce que le chemin montre plus d'intérêt dans les paysages qu'il traverse "
		</p>
		<span class="goto">&raquo; Pro</span>
	</div>
	<div class="img img-pro">&nbsp;</div>
	</div>
</a>