
<!--
<a href="?edit=true" id="edit" >
	<img id="edit_off" src="/zwazo/img/icomoon/edit_disabled.svg" height="24px" />
	<img id="edit_on" src="/zwazo/img/icomoon/edit.svg" height="24px" />
</a>
-->

<a href="{{ url('url_base') }}aa" ><img src="/zwazo/img/icomoon/fire14.svg" height="24px" /></a>