<div id="unslider-wrapper">
<div class="banner">
    <ul>
        <li>{% include 'slides/1.html.twig' %}</li>
        <li>{% include 'slides/2.html.twig' %}</li>
        <li>{% include 'slides/3.html.twig' %}</li>
    </ul>
</div>
<a href="#" class="unslider-arrow prev">Previous slide</a>
<a href="#" class="unslider-arrow next">Next slide</a>
</div>