<div id="bg">
	<div class="sepr">&nbsp;</div>
	<div class="pro">&nbsp;</div>
</div>


<div id="perso">
	<a href="{{ url('url_base') }}some">
		<span>Perso</span>
	</a>
</div>

<div id="pro">
	<a href="{{ url('url_base') }}pro">
		<span>Pro</span>
	</a>
</div>


