<div class="punchline breve">
le zwazo mature son espace numérique et s'habille désormais en flat design
</div>

<ul class="follow">
<li><a class="youtube" href="http://www.youtube.com/channel/UC3AH_aGMPsiiGQ4OCvTOTPQ" target="_blank">youtube</a>
</ul>

<div class="news">
{% if Results %}
{% for info in Results %}
{% include [ controller ~ '/info_small.html.twig' ] ignore missing %}
{% endfor %}
{% endif %}
</div>
