{% if Article %}
<article>
<header>{{ Article.title }}</header>
<p class="article-desc">
{{ Article.description }}
</p>
<div class="article-full">
{{ Article.article|raw }}
</div>
</article>
{% endif %}