
nav ul li a.actu div.icon {
	background-image: url(../img/icomoon/rss24.svg);
}

nav ul li:hover a.actu div.icon {
	background-image: url(../img/icomoon/rss24_hover.svg);
}

section#actu, div#actu {
	background-color:#FB5;
	color:#333;
}

section#actu div.section-top div.title,
div#actu div.section-top div.title {
	background-color:#FB5;
}

section#actu .last-activity,
div#actu .last-activity {
	position:absolute; top:5px; left:0;
	text-align:left;
	padding-top:5px;
}
section#actu .last-activity .title,
div#actu .last-activity .title {
	font-family: LatoBlack; 
	font-size:1.1em;
	font-weight:bold;
}
