
nav ul li a.info div.icon {
	background-image: url(../img/icomoon/rss24.svg);
}

section#info, div#info {
	background-color:#FB5;
	color:#333;
}

section#info div.section-top div.title,
div#info div.section-top div.title {
	background-color:#FB5;
}

section#info .last-activity,
div#info .last-activity {
	position:absolute; top:5px; left:0;
	text-align:left;
	padding-top:5px;
}
section#info .last-activity .title,
div#info .last-activity .title {
	font-family: LatoBlack; 
	font-size:1.1em;
	font-weight:bold;
}
