@import url(../font/Lato/Lato-Black.css);

@font-face {
	font-family: 'Bedas';
	src: url(../font/BEBAS___.TTF);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Satellite';
	src: url(../font/Satellite.otf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Overpass';
	src: url(../font/Overpass_Regular.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OverpassBold';
	src: url(../font/Overpass_Bold.ttf);
	font-weight: normal;
	font-style: normal;
}

html, body {
	background-color:#222;
	color: #f0f0f0;
	font-family: Helvetica, Arial;
	font-size:12px;
}

a ,a:link ,a:visited {
	color: #79d; text-decoration:none;
}


.inner {
	position:relative;
	width:99%;
	max-width:998px;
	min-width:288px;
	margin:0 auto;
}

footer {
	border-top: 5px solid #79d;
	padding-top:2em;
}

footer  #copyright {
	clear: both;
	border-top: 1px solid #191919;
	padding-top: 1em; margin-top: 3em;
	text-align: center; font-size: 11px;
	color: #5f5f5f;
}

footer  #copyright a.silex, footer  #copyright a.silex:link {
	font-family:Overpass; font-weight:bold;
}


#html5, #css3 {
	display:inline-block; color:#fff;
	text-align: center; font-size:10px;
	font-family:LatoBlack;
	height:32px; width:32px;
}

#html5 {
	background: url(../img/w3c/html5.png) left 12px no-repeat;
	height:44px;
}

#css3 {
	background: url(../img/w3c/css3.png) left 12px no-repeat;
	height:44px;
}


a#top {
	display:block;
	position:fixed;
	bottom:20px; right:20px;
	height:32px; width:32px;
	background-image: url(../img/ionicons/up_l.svg);
	background-size:32px 32px;
	text-indent:-9999px;
}
