
nav ul li a.pro div.icon {
	background-image: url(../img/icomoon/code9.svg);
	background-size:80px 80px;
	background-position:0 -10px;
	width:80px; height:80px;
}
nav ul li:hover a.pro div.icon {
	opacity:0.3;
	background-image: url(../img/icomoon/code9_hover.svg);
	width:144px; height:144px;
	background-size:144px 144px;
}


section#pro, div#pro {
	background-color:#a98;
	color:#333;
}

section#pro div.section-top div.title,
div#pro div.section-top div.title {
	background-color:#a98;
}