section#pro {
	background-color:#a98;
	color:#333;
}
 
section#pro div.section-top {
	background-color:#FB5;
}
 
section#pro div.section-top div.title {
	background-color:#a98;
}

nav ul li a.pro div.icon {
	background-image: url(../img/icomoon/code9.svg);
	background-size:80px 80px;
	background-position:0 -10px;
	width:80px; height:80px;
}
nav ul li:hover a.pro div.icon {
	width:144px; height:144px;
	background-size:144px 144px;
}
