
nav ul li a.signet div.icon {
	background-image: url(../img/icomoon/book92.svg);
}

section#signet,
div#signet {
	background-color:#49404b; /* b25 #bf295e = fushia */
	color:#fed;
}

section#signet div.section-top div.title,
div#signet div.section-top div.title {
	background-color:#49404b;
}
 