* {
	font-family: 'lato', sans-serif;
}

body {
	background-color:#f7f7f7;
	/* font-family: 'Source Sans Pro', ; */
}

a, a:link {
	color:#47b; text-decoration:none;
}

.site-main {
	width:1000px; 
	margin:0 auto; padding:0 0;
	/* border:1px solid #557; */
}

.site-header {
	width:1000px; 
	margin:0 auto; padding:0 0;
	text-align:center; font-size:16px;
	color:#36a;
}
.site-header-title1 {
	font-weight:bold; font-size:28px;
}

.site-footer {
	
	width:1000px; 
	margin:2em auto 0 auto; padding:0 0;
	
	text-align:center; font-size:.7em;
	color:#bbb;
}
