body {
	background-color:#222;
	
	font-family: 'Lato' , sans-serif;
	font-size:.9em; 
	color:#aaa;
	/* color:#4f6fa0; /* color:#36a; /*color:#333;*/
	/* font-family: 'Source Sans Pro', ; */
}

p {
	margin-top:0.3em;
}

a, a:link {
	color: #b57; text-decoration:none;
}
a:hover {
	color: #E33773; text-decoration: underline;
}
a.grey, a.grey:link {
	color:#aaa; text-decoration:none;
}
a.grey:hover {
	color:#d0d0d0;
}

tr.odd td {
	background-color:rgba(0,0,0,0.2);
}

.clall {
	clear:both;
}

pre { 
	border: 1px solid #111;
	background-color:#222;
}

/* ----------------------
 * Site struct
 * ---------------------- */

.site-header {
	width:1000px; 
	margin:0 auto 1em auto; padding:0 0;
	text-align:center; font-size:16px;
	color:#89b;
}
.site-header-title1 {
	font-weight:bold; font-size:28px;
}

#nav {
	border-bottom:1px solid #444;
	padding-bottom:1em;
}
 
.site-main {
	position:relative;
	max-width:1000px;
	margin:0 auto; padding:10px 10px;
	background: #2f2f2f;
	border:1px solid #444;
}

.site-footer {
	width:1000px; 
	margin:1em auto 0 auto; padding:0 0;
	text-align:center; font-size:.7em;
	color:#89b;
}

/* ----------------------
 * Content struct
 * ---------------------- */

.menur {
	display:table-cell;
	width:180px;
	padding:0 0 0 10px;
}

.ctnt {
	display:table-cell;
	/* width:800px; */
	padding-right:10px;
}


.menur-title {
	display:block;
	margin-bottom:2px;
}
.menur-title:after {
	content:" :"; 
}

ul.tags {
	list-style-type: none;
	width:180px;
	padding:0 0; margin:0;
}
ul.tags li {
	list-style-type: none;
	position:relative;
	clear:both;
	margin-bottom:2px;
	background-color: rgba(0,0,0,0.3);
}

/*
ul.tags li.sel:after {
	content:""; position:absolute;
	right:7px; top:0px;
	width:0; height:0; 
	border-top: 10px solid transparent;
	border-left: 10px solid rgba(0,0,0,0.3);
	border-bottom: 10px solid transparent;
}
*/

ul.tags li.sel:before {
	content:""; position:absolute;
	left:-10px; top:0px;
	width:0; height:0;
	border-top: 10px solid transparent;
	border-right: 10px solid rgba(0,0,0,0.3);
	border-bottom: 10px solid transparent;
}

ul.tags li a, ul.tags li a:link {
	display:block;
	width:160px;
	padding:0 3px;
}
ul.tags li a:active, ul.tags li a:hover {
	background-color: rgba(0,0,0,0.15);
}

#some {
	margin-top:1em;
	padding-top:5px;
}

#some a  {
	display:inline-block;
	margin:3px 3px;
}

#summary {
	z-index:100;
}

/* ----------------------
 * Article struct
 * ---------------------- */
article {
	z-index:10;
	margin:1.5em 0;
}

article header {
	font-weight:bold;
	font-size:1.7em;
	font-family: 'Lora';
}

article p {
	text-align:justify;
}

article.tmp {
	border-left:1px dashed #E33773;
	padding-left:5px;
}
