/* ---------------------
 * Default Styles
 * --------------------- */ 
a ,a:link ,a:visited {
	color: #e33773; text-decoration:none; /* 9D414A */
}


header nav ul.big li a.selected, header nav ul.big li a.selected:link {
	color:#e33773;
}

#main {
	background-color:#fff; color:#222;
}

footer {
	border-top: 5px solid #bf295e;
}


/* ---------------------
 * Other Styles
 * --------------------- */