/* ---------------------
 * Default Styles
 * --------------------- */ 
a ,a:link ,a:visited {
	color: #e33773; text-decoration:none; /* 9D414A */
}


header nav ul.big li a.selected, header nav ul.big li a.selected:link {
	color:#e33773;
	border-bottom:1px solid #e33773;
}

#main {
	background: #49404b url(../img/noisy-texture-100x100-o8-d23-c-3e3e52-t1.png) 0 0;
}

footer {
	border-top: 5px solid #bf295e;
}

div.punchline {
	border-bottom:2px solid #59505b;
}

/* ---------------------
 * Other Styles
 * --------------------- */
 
div#editr table th {
	background-color: #bf295e;
}