#editor {
	position:absolute; z-index:1000;
	top:50px; right:0;
}

#editor a.oc, #editor a.oc:link {
	display:block; float:right; 
	margin-top:20px; padding:5px;
	background-color:rgba(18,18,18,0.9);
	border-radius: 5px 0 0 5px;
}

#editor div.frame {
	float:right; display:none;
	background-color:rgba(18,18,18,0.9);
	border-radius: 5px 0 0 5px;
}

#editor.open {
	width:1000px; height:700px;
}
#editor.open div.frame {
	display:block;
	width:900px; height:700px;
}
#editor.open div.frame iframe {
	background-color:rgba(18,18,18,1);
	width:890px; height:690px;
	margin:5px;
	border-radius: 5px 0 0 5px;
}

/* --------------------------------------
 * #Editr
 * -------------------------------------- */
div#editr button, div#editr .btn, div#editr .btn:link, div#editr .btn:visited {
	border:1px solid #555;
	background-color:#555;
	color: #fff;
	cursor:pointer;
}

div#editr button.add, div#editr .add {
	padding:2px 5px 3px 20px;
	background-image: url(../img/tango/add.svg);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position:left center;
}

div#editr button.back, div#editr .back {
	padding:2px 5px 3px 20px;
	background-image: url(../img/tango/back.svg);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position:left center;
}

form {
	width:100%;
	padding:0 0;
	border:none;
}

form fieldset {
	border:1px solid #000;
	background-color: rgba(255,255,255,0.1);
	color:#fff;
	padding:2em;
	margin-bottom:1em;
}

form button.save, form .save {
	padding:2px 5px 3px 23px;
	background-color:#111;
	background-color:#111;
	background-image: url(../img/tango/save.svg);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position:5px center;
}

table {
	border:1px solid black;
}

table th {
	background-color: #789;
}
