/* ---------------------
 * Default Styles
 * --------------------- */ 
a ,a:link ,a:visited {
	color: #79d; text-decoration:none; /* 9D414A */
}

header nav ul.big li a.selected, header nav ul.big li a.selected:link {
	color:#79d;
	border-bottom:1px solid #79d;
}
 
#main {
	background: #323946 url(../img/noisy-texture-100x100-o8-d23-c-3e3e52-t1.png) 0 0;
}

footer {
	border-top: 5px solid #79d;
}

div.punchline {
	border-bottom:2px solid #555;
}

/* ---------------------
 * Other Styles
 * --------------------- */

div#unslider-wrapper { 
	margin-top:2em; 
	height:400px;
}
div#unslider-wrapper .banner ul li { height:400px; }
div#unslider-wrapper a.unslider-arrow {
	top:184px; /* = ((400 - 32) / 2) */
} 
 
a.slide-elm {
	display:block; 
	width:100%; height:400px;
	padding:0;
}

a.slide-elm  div.center  {
	width:800px; height:400px;
	margin:0 auto;
	vertical-align:middle;
}

.slide-elm  div.txt {
	position:relative; float:left;
	width:50%; padding-top:100px;
}
.slide-elm  div.txt span.titre {
	display:block;
	font-family: LatoBlack; font-size:2.5em;
	font-weight:bold;
}

.slide-elm  div.img {
	position:relative; float:left;
	width:49%; height:370px;
	text-align:center;
	vertical-align:middle;
}
/*
.slide-elm  div.img img#rss {
	position:absolute;
	top:10%; right:10%;
}

.slide-elm  div.img img#news {
	position:absolute;
	bottom:10%; left:10%;
}

.slide-elm  div.img img#pro {
	margin:10% auto 0 auto;
}
*/

.slide-elm  div.img-news {
	
}

.slide-elm  div.img-pro {
	background-image: url(../img/costard.svg);
	background-size:250px;
	background-repeat:no-repeat;
	background-position:50px 50px;
}