@import url("_reset.css");
@import url("_mini.css");
@import url("_effects.css");


/* sections
 * -----------------------------*/ 
@import url("_nav.css");
@import url("_info.css");
@import url("_pro.css");
@import url("_signet.css");

/* overall
 * -----------------------------*/ 

header {
	background-color:#323946;
	padding:4em 0;
}

header div#anim {
	position:relative;
	width:90%;
	min-width:300px; max-width:900px; height:300px;
	margin:0 auto;
	text-align:center;
	overflow:hidden;
	padding:5px;
}

header h1 {
	color:#79d;
	font-weight:bold; font-family: LatoBlack;
	font-size:3.2em; line-height:1em;
	margin-top:1em;
}
header h2 {
	margin:0 auto;
	color:#79d;
	font-family:LatoBlack;
	text-align:center;
	font-size:1.5em;
}

header p {
	padding-top:1em;
	clear:both;
	color:#777;
	font-size:1.1em;
}

header cite {
	display:block;
	font-style:italic;
	color:#eef;
}

section {
	position:relative;
}

div.section-top {
	position:absolute; top:-20px;
	width:100%;
	border:none;
}
div.section-top div.title {
	width:200px;
	margin:0 auto;
	text-align:center;
	font-size:1.1em; line-height:1.2em; height:25px;
	padding-top:5px;
	/*border-bottom:1px solid red;*/
}
div.section-ctnt {
	text-align:center;
}
section div.section-ctnt {
	height:550px;
}

section div.section-ctnt .desc {
	padding-top:5em;
}

section .desc span {
	font-family: LatoBlack;
	font-size:1.2em;
}
section .desc .punchline {
	display:block;
	line-height: 1.2em; font-size:2.5em;
	font-weight:bold;
}


/* sub-menu
 * -----------------------------*/ 

ul.sub-menu { /* nothing */ }

ul.sub-menu li {
	float:left;
	margin-left:30px;
	text-align:center;
	overflow:hidden;
}
ul.sub-menu li.first {
	margin-left:0;
}
