/* ---------------------
 * Default Styles
 * --------------------- */ 
a ,a:link ,a:visited {
	color: #79d; text-decoration:none; /* 9D414A */
}

header nav ul.big li a.selected, header nav ul.big li a.selected:link {
	color:#79d;
	border-bottom:1px solid #79d;
}
 
#main {
	background-color: #222;
}

footer {
	
}

div.punchline {
	border-bottom:2px solid #555;
}

a#home { display:none; }

/* ---------------------
 * Other Styles
 * --------------------- */

div#unslider-wrapper { 
	margin-top:2em;
	height:250px; border:1px solid #303030;
	/*
	background-color: rgba(255,255,255,0.1);*/
}
div#unslider-wrapper .banner ul li { height:250px; }
div#unslider-wrapper a.unslider-arrow {
	top:109px; /* = ((250 - 32) / 2) */
} 
 
a.slide-elm {
	display:block;
	width:100%; height:220px;
	padding:0 0;
}

a.slide-elm  div.center  {
	position:relative;
	width:70%; height:220px;
	margin:0 auto;
	vertical-align:middle;
}

.slide-elm div.txt {
	float:left;
	width:50%; padding-top:50px;
}
.slide-elm div.txt span.titre {
	display:block;
	font-family: LatoBlack; font-size:2.5em;
	font-weight:bold;
}
.slide-elm div.txt span.overview {
	display:block; margin-top:10px;
	font-size:1.5em;
	font-weight:bold;
	color: #fff;
}
.slide-elm  div.txt p {
	display:block;
	font-size:1.2em; line-height:1.4em;
	color: #fff;
}

.slide-elm  div.txt  span.goto {
	display:block;
	position:absolute; bottom:2em; left:0;
	font-weight:bold;
}

.slide-elm div.img {
	position:relative; float:left;
	width:49%; height:220px;
	text-align:center;
	vertical-align:middle;
}


.banner li {
	background-color:#404040; /*  #323946 #303030 #404040 */
}

li.news {
	/*background: #323946 url(../img/noisy-texture-100x100-o8-d23-c-3e3e52-t1.png) 0 0;*/
}
li.news div.img {
	background-image: url(../img/tango/news.svg);
	background-size:220px 220px;
	background-repeat:no-repeat;
	background-position:right 15px;
}
li.marks span.titre, li.marks span.goto {
	color:#79d;
}

li.marks {
	/*background: #49404b url(../img/noisy-texture-100x100-o8-d23-c-3e3e52-t1.png) 0 0;*/
}
li.marks div.img {
	background-image: url(../img/tango/signets.svg);
	background-size:220px 220px;
	background-repeat:no-repeat;
	background-position:right 15px;
}
li.marks span.titre, li.marks span.goto {
	color:#e33773;
}

li.pro {
	/*background: #444 url(../img/noisy-texture-100x100-o8-d23-c-3e3e52-t1.png) 0 0;*/
}
li.pro div.img {
	background-image: url(../img/costard.svg);
	background-size:220px 220px;
	background-repeat:no-repeat;
	background-position:right 15px;
}
li.pro span.titre, li.pro span.goto {
	color:#a98;
}

a#play-pause, a#play-pause:link {
	bottom: 5px;
	position: absolute;
	right:0; margin-right:10px;
	padding-right:20px;
	height:16px; width:60px;
	display:none; color:#b0b0b0;
	text-align:right;
}

a#play-pause.pause, a#play-pause.pause:link {
	display:block;
	height:16px;
	background-image:url(../img/miu/pause.svg);
	background-position:top right;
	background-size:16px 16px;
	background-repeat:no-repeat;
}

a#play-pause.play, a#play-pause.play:link {
	display:block;
	height:16px;
	background-image:url(../img/miu/play.svg);
	background-size:16px 16px;
	background-repeat:no-repeat;
}
