/* ---------------------
 * Default Styles
 * --------------------- */ 
a ,a:link ,a:visited {
	color: #79d; text-decoration:none; /* 9D414A */
}

header nav ul.big li a.selected, header nav ul.big li a.selected:link {
	color:#79d;
	border-bottom:1px solid #79d;
}
 
#main {
	background: #323946 url(../img/noisy-texture-100x100-o8-d23-c-3e3e52-t1.png) 0 0;
}

footer {
	border-top: 5px solid #79d;
}

div.punchline {
	border-bottom:2px solid #555;
}

/* ---------------------
 * Other Styles
 * --------------------- */

ul.follow {
	position: absolute;
	width:180px;
}

ul.follow li {
	float:left; width:25%;
}

ul.follow li a, ul.follow li a:link {
	display:block; 
	width:32px; height:32px;
	text-indent: -9999px;
	border-radius: 5px;
}

ul.follow li a.youtube, ul.follow li a.youtube:link {
	background:transparent url(../img/social/youtube.png) top left no-repeat;
	background-size:32px 32px;
	
}

div.news {
	margin-left:190px;
}

div.info {
	border:1px solid #304050;
	background-color: #323946;
	padding:5px; margin-bottom:1em;
}
div.info  .title {
	color:#79f; font-weight:bold;
}
div.info  > p {
	margin:5px 0 0 0;
}