/* ---------------------
 * Default Styles
 * --------------------- */ 
a ,a:link ,a:visited {
	color: #a98; text-decoration:none; /* 9D414A */
}

header nav ul.big li a.selected, header nav ul.big li a.selected:link {
	color:#a98;
	border-bottom:1px solid #a98;
}
 
#main {
	background: #444 url(../img/noisy-texture-100x100-o8-d23-c-3e3e52-t1.png) 0 0;
}

footer {
	border-top: 5px solid #a98;
}

div.punchline {
	border-bottom:2px solid #555;
}

/* ---------------------
 * Other Styles
 * --------------------- */