@import url("reset.css");
@import url("fonts.css");

/* ---------------------
 * Main styles
 * --------------------- */ 
a ,a:link ,a:visited {
	color: #79d; text-decoration:none;
}

span.erobase {
	font-family: Satellite; 
	font-weight:bold;
	font-size:1.2em;
	line-height:35px;
}

/* ---------------------
 * Structure
 * --------------------- */ 
html, body {
	background-color:#30303F;
	color: #f0f0f0;
	font-family: Helvetica, Arial;
	font-size:12px;
}

header {
	padding:0; margin:0;
    background: none repeat scroll 0 0 #333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #EFEFEF;
    height: 50px;
    width: 100%;
}

header nav {
   margin: 0 auto;
   width: 960px;
	text-align:center;
}

header nav ul.big {
	display: inline-block;
}

header nav ul.big li {
	float:left; cursor: pointer;
    font-family: LatoBlack; font-size:2em;
    line-height: 50px;
    padding: 0 40px;
	font-weight:bold;
}