<div id="unslider-wrapper">
<div class="banner">
    <ul>
        <li class="news">{% include 'slides/1.html.twig' %}</li>
        <li class="marks">{% include 'slides/2.html.twig' %}</li>
        <li class="pro">{% include 'slides/3.html.twig' %}</li>
    </ul>
	 <a href="#" id="play-pause">en pause</a>
</div>
<a href="#" class="unslider-arrow prev">Previous slide</a>
<a href="#" class="unslider-arrow next">Next slide</a>
</div>