{% if error %}
{{ error }}
{% endif %}

<form id="login" action="#" method="post">
	{{ form_widget(form) }}
	<div class="footer">
		<div>
			<span class="label">&nbsp;</span>
			<input type="submit" name="submit" />
		</div>
	</div>
</form>