{% if error %}
{{ error }}
{% endif %}

<form id="login" action="#" method="post" style="margin:2em auto; width:300px;">
	{{ form_widget(form) }}
	<div class="footer">
		<input type="submit" name="submit" />
	</div>
</form>