</div><!-- end of #site-main -->

<footer class="site-footer">
	Copyright &copy; Zwazo 2014{% if 2014 != this_year %}-{{ this_year }}{% endif %} 
	&nbsp;|&nbsp; Powered by <a href="http://silex.sensiolabs.org/" class="silex" target="_blank">Silex</b>
</footer>