<div id="editor">
<div class="frame"><iframe scrolling="auto"> </iframe></div>
<a href="javascript:void(0);" class="oc" onClick="Editor.oc()"><img src="{{ url('url_img') }}/tango/office.svg" height="36px"/></a>
</div>