<div class="inner">
	
	<div class="last-activity">
	<span class="title">Derni&egrave;re activit&eacute;:&nbsp;</span>
	<span class="date">14/07/2014&nbsp;-&nbsp;</span>
	<span>Livraison du site</span>
	</div>
	
	<div class="desc">
		<span class="punchline">Toute l'activit&eacute; du zwazo</span>
		<span>Pour garder le contact ou simplement par curiosit&eacute; ;)</span>
	</div>
	
</div>