<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Zwazo-Bleu - Site Perso et Institutionnel</title>
	<meta name="description" content="Personal Website">
	<meta name="keywords" content="zwazobleu, Bookmarks,Notes,Informatique,Développeur">
	<meta name="author" content="Raphaël (zwazo) RUDLER">
	
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/p_home.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/medias.css" media="screen" />

	<script type="text/javascript" src="{{ url('url_js') }}/jquery-2.1.1.min.js"> </script>
	<script type="text/javascript" src="{{ url('url_js') }}/p_home.js"> </script>

</head>
<body>

<!-- nice logo -->
<header>
	<div id="anim">
		<h1>Zwazo-Bleu</h1>
		<h2>Site Perso et Institutionnel</h2>
		<p><cite>"Par ce que le parcour prend de l'int&eacute;ret par les paysages qu'il traverse"</cite>- zwazo</p>
	</div>
</header>

<nav>
<div class="section-top">
	<div class="title">Navigation</div>
</div>
<div class="section-ctnt">
{% include 'home_nav.html.twig' ignore missing %}
</div>
</nav>

<section id="info">
<div class="section-top">
	<div class="title">Infos</div>
</div>
<div class="section-ctnt">
{% include 'home_info.html.twig' ignore missing %}
</div>
</section>

<section id="pro">
<div class="section-top">
	<div class="title">Pro</div>
</div>
<div class="section-ctnt">
{% include 'home_pro.html.twig' ignore missing %}
</div>
</section>

<section id="signet">
<div class="section-top">
	<div class="title"><span class="erobase">e</span>Signets</div>
</div>
<div class="section-ctnt">
{% include 'home_signet.html.twig' ignore missing %}
</div>
</section>

<a href="#" id="top">Top</a>

<!-- info + join -->
<footer>
	<div class="inner">
		{% include 'footer.html.twig' ignore missing %}
		&nbsp;
	</div>
</footer>
</body>
</html>