<ul class="sub-menu">
	<li class="first">
		<a href="javascript:void(0);" onclick="scrollto('#info');" class="info">
			<div class="icon">&nbsp;</div>
			<div class="txt">
				<h2 class="ca-main">Infos</h2>
				<h3 class="ca-sub">Rester Inform&eacute;</h3>
			</div>
		</a>
	<li><a href="javascript:void(0);" onclick="scrollto('#pro');" class="pro">
			<div class="icon">&nbsp;</div>
			<div class="txt">
				<h2>Pro</h2>
				<h3>Mes Experiences</h3>
			</div>
		</a>
	<li><a href="javascript:void(0);" onclick="scrollto('#signet');" class="signet">
			<div class="icon">&nbsp;</div>
			<div class="txt">
				<h2>eSignets</h2>
				<h3>Post-it et <br/>Marques Pages</h3>
			</div>
	</a>
</ul>
<div style="clear:both;">&nbsp;<br/>&nbsp;</div>