<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/styles.css" media="screen" />
</head>
<body>

{% include 'header.html.twig' %}

{% include [controller ~ '/' ~ action ~'.html.twig', controller ~ '/frame.twig' ] ignore missing %}


</body>
</html>